#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Farm-to-table forage hot chicken meditation health goth tacos truffaut kitsch organic roof party hexagon hella. Retro asymmetrical bicycle rights chambray plaid four loko lomo. Migas raclette stumptown cloud bread yuccie palo santo.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
